.dart_tool/
.fvm/
build/
coverage/
*.iml
.idea/
.DS_Store
**/local.properties
**/.flutter-plugins-dependencies
**/ephemeral/
**/Pods/
**/.symlinks/
**/Flutter/Generated.xcconfig
**/Flutter/flutter_export_environment.sh
**/android/.gradle/
**/android/key.properties
*.jks
*.keystore
